:root {
/*Front-end Style Guide
## Layout
The designs were created to the following widths:
*/
--mobile-width: 375px;
--desktop-width: 1440px;
/*
Colors
###Neutral
*/
--color-almost-white: hsl(0, 0%, 98%);
--color-medium-gray: hsl(0, 0%, 41%);
--color-almost-black: hsl(0, 0%, 8%);

/*
## Typography
### Body Copy (paragraph)
- Family: [Epilogue](https://fonts.google.com/specimen/Epilogue)
*/

--font-size: 18px;
--font-family-epilogue: 'Epilogue';
--font-weight1: 500;
--font-weight2: 700;
}

/* Resetting */
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

/* General class */
.flex {
    display: flex;
}

/* Content wraper for wraping content */
.content-wraper {
    max-width: 1440px; 
    width: 90%;
    margin: 0 auto;
}

/* General reset */
ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

ul li a {
    text-decoration: none;
}

h1 {
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
    padding: 0;
}

/* Header */
header {
    background-color: var(--color-almost-white);
}

header nav {
    gap: 50px;
    align-items: center;

    padding: 4vh 0;
}

header #nav-links-login{
    width: 100%;
    justify-content: space-between;
}

header nav ul {
    align-items: center;
    gap: 35px;
}

header nav ul li a{
    color: var(--color-medium-gray);
    font-family: var(--font-family-epilogue);
    font-size: var(--font-size);
}

header nav ul li a:hover{
    color: var(--color-almost-black);
}

/** Nav logo **/
header .nav-logo a{
    color: var(--color-almost-black);
    font-family: var(--font-family-epilogue);
    font-weight: var(--font-weight2);
    font-size: 2em;
    text-decoration: none;
}

/** Nav mobile button **/
header nav {
    position: relative;
}

header nav .mb-button{
    position: absolute;
    height: 20px;
    width: 30px;
    top: 4.6vh;
    right: 0em;
    display: none;

    flex-direction: column;
    justify-content: space-between;
}

header nav .mb-button .mb-button-bar{
    height: 3px;
    width: 100%;
    background-color: var(--color-almost-black);
}

/** Nav closing button for mobile **/
header nav #nav-links-login{
    position: relative;
}

header nav .expand-list-mb-button {
    position: absolute;
    height: 20px;
    width: 30px;
    top: 4.6vh;
    right: 2.3vw;
    display: none;

    flex-direction: column;
    justify-content: space-between;
}

header nav .expand-list-mb-button .expand-list-bar{
    height: 3px;
    width: 100%;
    background-color: var(--color-almost-black);
}

/** Nav expand button icon, the v one next to the links**/
header .nav-links ul li:nth-child(1){
    position: relative;
}

header .nav-links ul li:nth-child(2){
    position: relative;
}

/**
   Absolute to the first and second link, with the spans
   we center the damn thing with flex then rotate using transform
**/
header .expand-v-container{
    position: absolute;
    width: 30px;
    height: 1.1em;
    top: 0;
    right: -2em;
    display: flex;
    align-items: center;
}

header .expand-v{
    height: 2px;
    width: 20%;
    background-color: var(--color-medium-gray);
}

header .expand-v.left{
    transform: rotate(40deg) translateY(-25%) translateX(15%);
}

header .expand-v.right {
    transform: rotate(-40deg) translateY(-25%) translateX(-15%); 
}

/** active state of the expand v's **/
header .expand-v.left.active {
    transform: rotate(-40deg) translateY(-25%) translateX(25%);
}

header .expand-v.right.active {
    transform: rotate(40deg) translateY(-25%) translateX(-25%); 
}

/** Nav expand inside list **/
header .expand-item-list {
    /* Absolute to the list item which is relative */
    position: absolute;
    top: 2.5em;

    padding: 25px;
    border-radius: 10px;
    /*There is a box shadow here but let's do this for now*/
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    background-color: var(--color-almost-white);


    /* Prevent line wraping */
    width: max-content;
    opacity: 0;
    transition: 0.2s;
    transform: translateY(10%); 
    z-index: -1;
}


header .expand-item-list.active{
    opacity: 1;
    z-index: 0;
    transition: 0.2s;
    transform: translateY(0);
}

header .expand-item-list li{
    gap: 10px;
    margin: 5px 0;
}

/** Nav login **/
header .nav-login #nav-login-register{
    padding: 10px 20px;
    border: 1px solid var(--color-medium-gray);
    border-radius: 15px;
}

header .nav-login #nav-login-register:hover{
    color: var(--color-almost-black);
    border: 1px solid var(--color-almost-black);
}

/* Main */
main {
    background-color: var(--color-almost-white);
}

main .hero {
    display: flex;
    gap: 55px;
}

main .hero.content-wraper {
    width: 80%;  
}

/** Hero description **/
main .hero-desc{
    /* Takes up 50% of the hero */
    flex: 1;

    flex-direction: column;
    justify-content: center;
    gap: 40px;
    /* Font work */
    font-family: var(--font-family-epilogue);
}

/* Note this is getting the "remote work" to stay together
so if it's not desire here you can:
  delete the div, then turn off the flexing in this h1 */
main .hero-desc .hero-desc-tittle{
    display: flex;
    flex-direction: column;

    color: var(--color-almost-black);
    font-weight: var(--font-weight2);
    font-size: 5vw;
}

main .hero-desc .hero-desc-intro{
    color: var(--color-medium-gray);
    font-size: var(--font-size);
    font-weight: var(--font-weight1);
}

main .hero-desc button {
    align-self: start;

    font-family: var(--font-family-epilogue);
    font-size: var(--font-size);
    font-weight: var(--font-weight2);
    color: var(--color-almost-white);
    background-color: var(--color-almost-black);
    border: 1px solid var(--color-almost-black);

    padding: 1em 2em; 
    padding: 1.1vw 2.2vw;
    border-radius: 17px;
}

main .hero-desc button:hover{
    color: var(--color-almost-black);
    background-color: var(--color-almost-white);
    border: 1px solid var(--color-almost-black);
}

main .hero-desc .client-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/** Hero image **/
main .hero-img{
    flex: 1;
}

main .hero-img img{
    width: 100%;
    height: 100%;
}




/** Mobile area **/



/** Mobile media query **/


@media (max-width: 975px){
    .content-wraper{
        width: 95%;
    }

    /* The fucking nav slider*/
    /* header nav is already relative above */
    header nav #nav-links-login {
        top: 0;
        right: 0;
        position: fixed;
        min-width: max-content;
        width: 35%;
        height: 100%; 

        background-color: var(--color-almost-white);
        padding-top: 100px;
        transition: 0.3s;
        transform: translateX(100%);

        /* Able to scroll if there's more content to fit on the screen */
        overflow-y: scroll;
    }
    

    header nav #nav-links-login.active{
        transition: 0.3s;
        transform: translateX(0);
    }

    /* Nav links and login*/
    header nav #nav-links-login, header nav .nav-links ul, header nav .nav-login ul{
        flex-direction: column;
    }

    header nav .nav-links ul{
        align-items: start;
    }

    /* The links and login container */
    header nav #nav-links-login{
        gap: 30px;
        justify-content: start;
    }

    header nav .nav-links {
        padding-left: 15px;
    }

    /* Reset the register list item to flex then center the 
    damn thing */
    header nav .nav-login li:nth-child(2){
        display: flex;
        justify-content: center;
        padding: 0 3vw;
        width: 100%;
    }

    header nav .nav-login #nav-login-register{
        width: 100%;
        text-align: center;
    }

    /** Expand item list **/
    /* Reset the styles and position, keep the animation */
    header .expand-item-list{
       /* Reset the desktop to static */
       position: static;
       
       /* Reset the style to none */
       border-radius: 0;
       box-shadow: none;
       background-color: none;
       z-index: 0;
       opacity: 1;

       /* Using display we can close or open
       but at the cost of the animation transitioning */
       display: none;
    }
    
    /* This is simple, but I think it's okay for now
    if animation is needed, I think a divs wrap around
    ul will be able to get it done I think */
    header .expand-item-list.active{
      display: block;
    }

    /* For mobile less than 600px width */
    @media (max-width: 610px){
        header nav #nav-links-login{
          width: 100%;
        }
        header nav .nav-links ul{
          align-items: center;
        }
        header nav .nav-links {
          padding-left: 0;
        }
        header nav .nav-login li:nth-child(2){
          display: flex;
          justify-content: center;
          padding: 0 3vw;
          width: 65%;
        }
    }

    /* The hamburger button */
    /* Few notes on the hamburger button when you
    shrink the height of the screen, header #nav-lists-login
    when active the cross button will not work as 
    we wanted. 
    Solution: What you should do is add another mb-button
    to the #nav-lists-login itself and turn off the one
    in the nav bar. This will make the list looks right.
    */
    header nav .mb-button {
        display: flex;
    }

    header nav .expand-list-mb-button {
        display: flex;
    }

    /* Hamburger button animation */
    header .expand-list-bar:nth-child(1){
        background-color: var(--color-almost-black);
        transform: translateY(220%) rotate(-45deg) ;
    }
    header .expand-list-bar:nth-child(2){
        background-color: var(--color-almost-black);
        transform: scale(0);
    }
    header .expand-list-bar:nth-child(3){
        background-color: var(--color-almost-black);
        transform: translateY(-320%) rotate(45deg);
    }

    /* The body overlay for half sliding out hamburger menu */
    /* This is a working example */
    #mb-overlay{
        position: fixed;
        top: 0;
        left: 0;
        right: 0;

        width: 100%;
        height: 100vh;
        background-color: #000;
        opacity: 0;
        cursor: pointer;
        z-index: -1;
    }

    #mb-overlay.active{
        opacity: 0.7;
        transition: 0.3s;
        z-index: 0;
    }

    /* This shit works add this to body when active the mobile
       menu to freeze the body, not able to scroll any where
     */
    .active-overlay {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        height: 100vh;
        background-color: rgba(0,0,0,0.7);
        overflow: hidden;
    }

    /* Main */
    main .hero {
        flex-direction: column-reverse;
    }

    main .hero.content-wraper {
        width: 100%;
    }

    /* Hero description */
    main .hero-desc{
        align-items: center;
        gap: 4.5vh;
    }

    main .hero-desc .hero-desc-tittle{
       display: flex;
       flex-direction: row;
       justify-content: center;
       gap: 2vw;

       font-size: 8.5vw;
    }

    main .hero-desc .hero-desc-intro{
        text-align: center;
        width: 65%;
        line-height: 1.3;
    }

    main .hero-desc button {
        align-self: center;
        font-size: 2.1w;

        padding: 14px 25px; 
        border-radius: 20px;
    }

    main .hero-desc .client-container{
        flex-direction: column;
        gap: 35px;
    }

    /* Hero image, depends on the image
    but this will do.
    */
    main .hero-img{
        max-width: 550px;
        width: 100%;
        align-self: center;
    }

    main .hero-img img{
        width: 100%;
        height: auto;
    }
}